HoneywellLyricAPI_Flow
[
    {
        "id": "b228132b.65506",
        "type": "tab",
        "label": "Honeywell Lyric Integration",
        "disabled": false,
        "info": ""
    },
    {
        "id": "5b0b7192.7650d",
        "type": "http request",
        "z": "b228132b.65506",
        "name": "",
        "method": "use",
        "ret": "obj",
        "url": "",
        "tls": "",
        "x": 811.8050003051758,
        "y": 690.0708160400391,
        "wires": [
            [
                "3d155da1.be2a12",
                "2bc2d99d.5bfd76"
            ]
        ]
    },
    {
        "id": "514c6571.8d9a2c",
        "type": "function",
        "z": "b228132b.65506",
        "name": "Get Location ID",
        "func": "LyricCMDmsg ={\n    \"url\":\"https://api.honeywell.com/v1/locations?apikey=\"+global.get(\"honeywellAPIKey\"),\n    \"method\": \"GET\",\n    headers:\n    {\n        \"Authorization\":\"Bearer \"+global.get(\"honeywellLyricAccessToken\")\n    }\n};\n    \nreturn LyricCMDmsg;",
        "outputs": 1,
        "noerr": 0,
        "x": 645.8015975952148,
        "y": 690.1334285736084,
        "wires": [
            [
                "5b0b7192.7650d"
            ]
        ]
    },
    {
        "id": "dada35a1.5f6ea8",
        "type": "http request",
        "z": "b228132b.65506",
        "name": "",
        "method": "use",
        "ret": "obj",
        "url": "",
        "tls": "",
        "x": 628.8605270385742,
        "y": 644.3209447860718,
        "wires": [
            [
                "2a641859.1ff2a8",
                "3cb9f6ec.0a1f2a"
            ]
        ]
    },
    {
        "id": "51e0cfb5.9bd46",
        "type": "function",
        "z": "b228132b.65506",
        "name": "Request Access Token",
        "func": "var b = new Buffer(global.get(\"honeywellAPIKey\")+\":\"+global.get(\"honeywellConsumerSecert\"));\nglobal.set(\"honeywellOauth2Token\", b.toString('base64'));\n\nvar LyricCMDmsg ={\n    \"url\":\"https://api.honeywell.com/oauth2/token\",\n    \"method\": \"POST\",\n    headers:\n    {\n        \"Authorization\":global.get(\"honeywellOauth2Token\"),\n        \"Content-Type\": \"application/x-www-form-urlencoded\"\n    },\n    payload:\n    {\n        \"grant_type\":\"refresh_token\",\n        \"refresh_token\":global.get(\"honeywellLyricRefreshToken\")\n    }\n};\n\nnode.send(LyricCMDmsg);\nreturn; ",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 439.85700607299805,
        "y": 644.383318901062,
        "wires": [
            [
                "dada35a1.5f6ea8"
            ]
        ]
    },
    {
        "id": "57a1ffb9.dede4",
        "type": "inject",
        "z": "b228132b.65506",
        "name": "Request every 12 min",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "720",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 190.04230499267578,
        "y": 643.8270740509033,
        "wires": [
            [
                "51e0cfb5.9bd46"
            ]
        ]
    },
    {
        "id": "2a641859.1ff2a8",
        "type": "change",
        "z": "b228132b.65506",
        "name": "Set Access Token",
        "rules": [
            {
                "t": "set",
                "p": "honeywellLyricAccessToken",
                "pt": "global",
                "to": "payload.access_token",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 451.8604736328125,
        "y": 690.32080078125,
        "wires": [
            [
                "514c6571.8d9a2c"
            ]
        ]
    },
    {
        "id": "ff7c7305.73d7a",
        "type": "function",
        "z": "b228132b.65506",
        "name": "Honeywell Lyric Object",
        "func": "var honeywellLyric=msg.payload;\nvar msgs=[];\n\nif (typeof context.global.LyricState=='undefined'){ context.global.LyricState = new Object({}); }\n\nif (Object.prototype.toString.call(honeywellLyric)==='[object Array]'){\n    \n    honeywellLyric.forEach(function (therm) {\n\n        //node.warn(\"Importing: \"+therm.name+\" thermostat\");\n        \n        context.global.LyricState[therm.name] = {\n            \"name\":therm.name,\n            \"eco_system\": \"Honeywell Lyric\",\n            \"device_id\": therm.deviceID,\n            \"device_manufacturer\":\"Honeywell\",\n            \"object_type\": therm.deviceType.toLowerCase(),\n            \"last_reading\": {\n                \"connection\": therm.isProvisioned,\n                \"mode\": therm.changeableValues.mode,\n                //\"fan_mode\": therm.settings.fan.changeableValues.mode,\n                \"temperature\": therm.indoorTemperature,\n                \"units\":therm.units,\n                \"humidity\": therm.displayedOutdoorHumidity,\n                \"external_temperature\": therm.outdoorTemperature,\n                \"users_away\":therm.vacationHold.enabled,\n                \"scheduleStatus\":therm.scheduleStatus,\n                \"cool_set_point\": therm.changeableValues.coolSetpoint,\n                \"heat_set_point\": therm.changeableValues.heatSetpoint,\n                \"heatCoolMode\": therm.operationStatus.mode\n            },\n\n        };\n\n        //node.warn(context.global.LyricState[therm.name]);\n\n        msgs.push({name: context.global.LyricState[therm.name].name,\n            payload: context.global.LyricState[therm.name]});\n    });//for each therm\n}\n\nreturn msgs;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 996.8959350585938,
        "y": 794.8944702148438,
        "wires": [
            [
                "f25a846e.4619b8"
            ]
        ]
    },
    {
        "id": "78ac355b.efbd2c",
        "type": "debug",
        "z": "b228132b.65506",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 1174.5641784667969,
        "y": 690.3775815963745,
        "wires": []
    },
    {
        "id": "5cd937b6.b58af8",
        "type": "http request",
        "z": "b228132b.65506",
        "name": "",
        "method": "use",
        "ret": "txt",
        "url": "",
        "tls": "",
        "x": 473.7627143859863,
        "y": 884.8888626098633,
        "wires": [
            [
                "73e3e04b.cc8bd"
            ]
        ]
    },
    {
        "id": "722500ad.2dfbd",
        "type": "function",
        "z": "b228132b.65506",
        "name": "Set Thermostat",
        "func": "var thermostat = \"Living room\";\n//return context.global.executeLyricTstatCMD(thermostat,\"fan\",\"auto\");\nreturn context.global.executeLyricTstatCMD(thermostat,\"temperature\",\"71\");\n//return context.global.executeLyricTstatCMD(thermostat,\"mode\",\"cool\");\n",
        "outputs": 1,
        "noerr": 0,
        "x": 303.7592658996582,
        "y": 884.9514572620392,
        "wires": [
            [
                "5cd937b6.b58af8"
            ]
        ]
    },
    {
        "id": "2466fc16.1151d4",
        "type": "inject",
        "z": "b228132b.65506",
        "name": "",
        "repeat": "",
        "crontab": "",
        "once": false,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 136.63637161254883,
        "y": 884.9179763793945,
        "wires": [
            [
                "722500ad.2dfbd"
            ]
        ]
    },
    {
        "id": "73e3e04b.cc8bd",
        "type": "debug",
        "z": "b228132b.65506",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "true",
        "x": 612.7037353515625,
        "y": 885.0137939453125,
        "wires": []
    },
    {
        "id": "4a7b003c.b1f47",
        "type": "http request",
        "z": "b228132b.65506",
        "name": "",
        "method": "use",
        "ret": "obj",
        "url": "",
        "tls": "",
        "x": 476.3080749511719,
        "y": 974.5858764648438,
        "wires": [
            [
                "341e2dbf.9bd9d2"
            ]
        ]
    },
    {
        "id": "967d3760.351aa8",
        "type": "function",
        "z": "b228132b.65506",
        "name": "Get Thermostat",
        "func": "LyricCMDmsg ={\n    \"url\":\"https://api.honeywell.com/v2/devices/thermostats?apikey=\"+global.get(\"honeywellAPIKey\")+\"&locationId=\"+global.get(\"honeywellLyricLocationID\"),\n    \"method\": \"GET\",\n    headers:\n    {\n        \"Authorization\":\"Bearer \"+global.get(\"honeywellLyricAccessToken\")\n    }\n};\n    \nreturn LyricCMDmsg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 300.304744720459,
        "y": 974.6484031677246,
        "wires": [
            [
                "4a7b003c.b1f47"
            ]
        ]
    },
    {
        "id": "7d049342.888f6c",
        "type": "inject",
        "z": "b228132b.65506",
        "name": "",
        "repeat": "",
        "crontab": "",
        "once": false,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 134.72735214233398,
        "y": 974.6147727966309,
        "wires": [
            [
                "967d3760.351aa8"
            ]
        ]
    },
    {
        "id": "341e2dbf.9bd9d2",
        "type": "debug",
        "z": "b228132b.65506",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 635.2491149902344,
        "y": 974.7108154296875,
        "wires": []
    },
    {
        "id": "3cb9f6ec.0a1f2a",
        "type": "debug",
        "z": "b228132b.65506",
        "name": "access_token",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 820.8049621582031,
        "y": 644.070725440979,
        "wires": []
    },
    {
        "id": "801bf311.f83c4",
        "type": "change",
        "z": "b228132b.65506",
        "name": "honeywellLyricLocationID",
        "rules": [
            {
                "t": "set",
                "p": "honeywellLyricLocationID",
                "pt": "global",
                "to": "payload.locationID",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "honeywellLyricLocationID",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 469.8048858642578,
        "y": 745.0707788467407,
        "wires": [
            [
                "90d6dc42.30d1b"
            ]
        ]
    },
    {
        "id": "6d7347a4.34c508",
        "type": "debug",
        "z": "b228132b.65506",
        "name": "Return JSON Object",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 1137.8048934936523,
        "y": 745.0707168579102,
        "wires": []
    },
    {
        "id": "3d155da1.be2a12",
        "type": "function",
        "z": "b228132b.65506",
        "name": "Parse payload",
        "func": "var msgs = [];\nfor (var i = 0; i< msg.payload.length; i++) {\n  msgs.push({payload: msg.payload[i]});\n}\n\nreturn msgs;",
        "outputs": 1,
        "noerr": 0,
        "x": 983.7459411621094,
        "y": 690.5429410934448,
        "wires": [
            [
                "801bf311.f83c4",
                "78ac355b.efbd2c"
            ]
        ]
    },
    {
        "id": "bf9755e0.233868",
        "type": "http request",
        "z": "b228132b.65506",
        "name": "Return JSON Object",
        "method": "use",
        "ret": "obj",
        "url": "",
        "tls": "",
        "x": 894.8048782348633,
        "y": 745.0707082748413,
        "wires": [
            [
                "6d7347a4.34c508",
                "ff7c7305.73d7a"
            ]
        ]
    },
    {
        "id": "42781f82.b235",
        "type": "http in",
        "z": "b228132b.65506",
        "name": "",
        "url": "/red/honeywell",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 136.8958511352539,
        "y": 258.888916015625,
        "wires": [
            [
                "c35ba87d.a5ddd8"
            ]
        ]
    },
    {
        "id": "c35ba87d.a5ddd8",
        "type": "function",
        "z": "b228132b.65506",
        "name": "Get an Authorization Code",
        "func": "//context.global.honeywellAPIKey = \"Aslo1eCD14GdoY3ZhSThJQWsGg7WhO4G\";\n//context.global.honeywellConsumerSecert = \"IJtovHsJ6MXABudi\";\n//context.global.redirectURI = context.global.redirectURI;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 368.89581298828125,
        "y": 258.88885498046875,
        "wires": [
            [
                "341c9f6b.4ab3c",
                "7aed64ba.0aecac"
            ]
        ]
    },
    {
        "id": "341c9f6b.4ab3c",
        "type": "http response",
        "z": "b228132b.65506",
        "name": "",
        "x": 584.8958435058594,
        "y": 258.888916015625,
        "wires": []
    },
    {
        "id": "123305cb.d65fda",
        "type": "debug",
        "z": "b228132b.65506",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 511.895751953125,
        "y": 341.88885498046875,
        "wires": []
    },
    {
        "id": "7aed64ba.0aecac",
        "type": "change",
        "z": "b228132b.65506",
        "name": "honeywellAPIcode",
        "rules": [
            {
                "t": "set",
                "p": "honeywellAPIcode",
                "pt": "flow",
                "to": "payload.code",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 320,
        "y": 307,
        "wires": [
            [
                "c1289d54.2c68",
                "123305cb.d65fda"
            ]
        ]
    },
    {
        "id": "c1289d54.2c68",
        "type": "function",
        "z": "b228132b.65506",
        "name": "Create a Token",
        "func": "var apiKey = global.get(\"honeywellAPIKey\");\nvar consumerSecert = global.get(\"honeywellConsumerSecert\");\nvar b = new Buffer(apiKey+\":\"+consumerSecert);\n//msg.payload = b.toString('base64');\nglobal.set(\"honeywellOauth2Token\", b.toString('base64'));\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 522,
        "y": 308,
        "wires": [
            [
                "8ddb971c.285178"
            ]
        ]
    },
    {
        "id": "c1281cf6.1a497",
        "type": "http request",
        "z": "b228132b.65506",
        "name": "",
        "method": "use",
        "ret": "obj",
        "url": "",
        "tls": "",
        "x": 920,
        "y": 308,
        "wires": [
            [
                "5ed29c24.e39084",
                "5780fd09.bbbe44",
                "5fc7246c.b468cc"
            ]
        ]
    },
    {
        "id": "8ddb971c.285178",
        "type": "function",
        "z": "b228132b.65506",
        "name": "Request Access Token",
        "func": "//context.global.redirectURI = context.global.redirectURI.toLowerCase();\n\nvar LyricCMDmsg ={\n    \"url\":\"https://api.honeywell.com/oauth2/token\",\n    \"method\": \"POST\",\n    headers:\n    {\n        \"Authorization\":global.get(\"honeywellOauth2Token\"),\n        \"Content-Type\": \"application/x-www-form-urlencoded\"\n    },\n    payload:\n    {\n        \"grant_type\":\"authorization_code\",\n        \"redirect_uri\":global.get(\"redirectURI\"),\n        \"code\":flow.get(\"honeywellAPIcode\")\n    }\n};\n    node.send(LyricCMDmsg);\nreturn; ",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 728.9964599609375,
        "y": 308.0623779296875,
        "wires": [
            [
                "c1281cf6.1a497",
                "3fb8fff9.3277f"
            ]
        ]
    },
    {
        "id": "5ed29c24.e39084",
        "type": "debug",
        "z": "b228132b.65506",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "true",
        "x": 1062.9444580078125,
        "y": 275.7497863769531,
        "wires": []
    },
    {
        "id": "5780fd09.bbbe44",
        "type": "change",
        "z": "b228132b.65506",
        "name": "Set honeywellLyricRefreshToken",
        "rules": [
            {
                "t": "set",
                "p": "honeywellLyricRefreshToken",
                "pt": "global",
                "to": "payload.refresh_token",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "honeywellLyricAccessToken",
                "pt": "global",
                "to": "payload.access_token",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1143,
        "y": 308,
        "wires": [
            [
                "9916ffc0.53d91"
            ]
        ]
    },
    {
        "id": "3bc13065.eaeab",
        "type": "comment",
        "z": "b228132b.65506",
        "name": "API Access Authentication Flow",
        "info": "",
        "x": 174,
        "y": 222,
        "wires": []
    },
    {
        "id": "a4a34792.20d658",
        "type": "comment",
        "z": "b228132b.65506",
        "name": "Device Access and Integration Flow",
        "info": "",
        "x": 189,
        "y": 573,
        "wires": []
    },
    {
        "id": "d95f628c.a1566",
        "type": "comment",
        "z": "b228132b.65506",
        "name": "Sample Flow for setting device data",
        "info": "",
        "x": 190.99998474121094,
        "y": 842,
        "wires": []
    },
    {
        "id": "1adee4cf.2b1f4b",
        "type": "comment",
        "z": "b228132b.65506",
        "name": "Sample Flow for getting device data",
        "info": "",
        "x": 192,
        "y": 933,
        "wires": []
    },
    {
        "id": "3fb8fff9.3277f",
        "type": "debug",
        "z": "b228132b.65506",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "true",
        "x": 900,
        "y": 274,
        "wires": []
    },
    {
        "id": "f7fd93a5.3f36c",
        "type": "change",
        "z": "b228132b.65506",
        "name": "Display honeywellLyricRefreshToken",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "honeywellLyricRefreshToken",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 376,
        "y": 1078,
        "wires": [
            [
                "bd30e8eb.2e9068"
            ]
        ]
    },
    {
        "id": "bd30e8eb.2e9068",
        "type": "debug",
        "z": "b228132b.65506",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 620,
        "y": 1078,
        "wires": []
    },
    {
        "id": "431a7814.6b31a8",
        "type": "inject",
        "z": "b228132b.65506",
        "name": "",
        "repeat": "",
        "crontab": "",
        "once": false,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 122,
        "y": 1128,
        "wires": [
            [
                "f7fd93a5.3f36c",
                "701e6e3c.58b1c",
                "c3167cd.c7ab18",
                "57093d1d.cb0f14"
            ]
        ]
    },
    {
        "id": "4155d97f.bd1728",
        "type": "http response",
        "z": "b228132b.65506",
        "name": "",
        "x": 454.9999694824219,
        "y": 77,
        "wires": []
    },
    {
        "id": "a9a81d58.25d1f",
        "type": "http in",
        "z": "b228132b.65506",
        "name": "",
        "url": "/lyric",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 108,
        "y": 77.23333740234375,
        "wires": [
            [
                "74ad6739.2d0118"
            ]
        ]
    },
    {
        "id": "74ad6739.2d0118",
        "type": "template",
        "z": "b228132b.65506",
        "name": "Data Request form",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "\n</form>\n<!DOCTYPE html>\n<html>\n  <head>\n    <meta charset=\"utf-8\">\n    <title>Honeywell Intergration</title>\n    <style>\n      form \n\t  {\n        /* Just to center the form on the page */\n        margin: 0 auto;\n        width: 400px;\n        /* To see the outline of the form */\n        padding: 1em;\n        border: 1px solid #CCC;\n        border-radius: 1em;\n      }\n\n      form div + div {\n        margin-top: 1em;\n      }\n \n      label {\n        /* To make sure that all labels have the same size and are properly aligned */\n        display: inline-block;\n        width: 90px;\n        text-align: right;\n      }\n      \n      input, textarea {\n      /* To make sure that all text fields have the same font settings\n      By default, textareas have a monospace font */\n      font: 1em sans-serif;\n\n      /* To give the same size to all text fields */\n      width: 300px;\n      box-sizing: border-box;\n\n      /* To harmonize the look & feel of text field border */\n      border: 1px solid #999;\n      }\n\n      .button {\n      /* To position the buttons to the same position of the text fields */\n        padding-left: 90px; /* same size as the label elements */\n\t  }\n\n      button {\n        /* This extra margin represent roughly the same space as the space\n        between the labels and their text fields */\n        margin-left: .5em;\n      }\n    </style\n  </head>\n  <body>\n  <form action=\"/lyric\" method=\"post\">\n    <div>\n      <label for=\"redirect\">Redirect URI:</label>\n      <input type=\"text\" id=\"redirect\" name=\"redirect_uri\">\n    </div>\n    <div>\n      <label for=\"api\">Consumer Key:</label>\n      <input type=\"text\" id=\"api\" name=\"client_id\">\n    </div>\n    <div>\n      <label for=\"secert\">Consumer Secert:</label>\n      <input type=\"text\" id=\"secert\" name=\"consumer_sercet\">\n    </div>\n    <div>\n      <label for=\"app\">App Name:</label>\n      <input type=\"text\" id=\"app\" name=\"app_name\">\n    </div>\n    <div>\n    <div class=\"button\">\n      <button type=\"submit\">Save Data</button>\n    </div>\n  </body>\n</html>",
        "output": "str",
        "x": 288,
        "y": 77,
        "wires": [
            [
                "4155d97f.bd1728"
            ]
        ]
    },
    {
        "id": "eb0a2e6c.336b",
        "type": "http in",
        "z": "b228132b.65506",
        "name": "",
        "url": "/lyric",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 107,
        "y": 114,
        "wires": [
            [
                "195bb10e.c7473f"
            ]
        ]
    },
    {
        "id": "74a181d6.986d5",
        "type": "http response",
        "z": "b228132b.65506",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 647,
        "y": 114,
        "wires": []
    },
    {
        "id": "195bb10e.c7473f",
        "type": "change",
        "z": "b228132b.65506",
        "name": "Create Access URI",
        "rules": [
            {
                "t": "set",
                "p": "redirectURI",
                "pt": "global",
                "to": "payload.redirect_uri",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "honeywellAPIKey",
                "pt": "global",
                "to": "payload.client_id",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "honeywellConsumerSecert",
                "pt": "global",
                "to": "payload.consumer_sercet",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 289,
        "y": 114,
        "wires": [
            [
                "bb7f5259.7e961",
                "b59fd8e6.e720b8"
            ]
        ]
    },
    {
        "id": "701e6e3c.58b1c",
        "type": "change",
        "z": "b228132b.65506",
        "name": "Display honeywellAPIKey",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "honeywellAPIKey",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 338,
        "y": 1112,
        "wires": [
            [
                "e7fc7d1d.8b30a"
            ]
        ]
    },
    {
        "id": "e7fc7d1d.8b30a",
        "type": "debug",
        "z": "b228132b.65506",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 619,
        "y": 1112,
        "wires": []
    },
    {
        "id": "bb7f5259.7e961",
        "type": "template",
        "z": "b228132b.65506",
        "name": "Submit form",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "\n</form>\n<!DOCTYPE html>\n<html>\n  <head>\n    <meta charset=\"utf-8\">\n    <title>Honeywell Intergration</title>\n    <style>\n      form \n\t  {\n        margin: 0 auto;\n        width: 400px;\n        /* To see the outline of the form */\n        padding: 1em;\n        border: 1px solid #CCC;\n        border-radius: 1em;\n      }\n      form div + div {\n        margin-top: 1em;\n      }\n      label {\n        display: inline-block;\n        width: 90px;\n        text-align: right;\n      }\n      input, textarea {\n      font: 1em sans-serif;\n      width: 300px;\n      box-sizing: border-box;\n      border: 1px solid #999;\n      }\n      .button {\n        padding-left: 90px; /* same size as the label elements */\n\t  }\n      button {\n        margin-left: .5em;\n      }\n    </style\n  </head>\n  <body>\n  <form action=https://api.honeywell.com/oauth2/app/login? method=\"get\">\n    <div>\n      <input type=\"hidden\" id=\"api\" name=\"apikey\" value={{payload.client_id}}>  \n    </div>\n    <div>\n      <input type=\"hidden\" id=\"redirect\" name=\"redirect_uri\" value={{payload.redirect_uri}}>  \n    </div>\n    <div>\n      <input type=\"hidden\" id=\"appName\" name=\"app\" value={{payload.app_name}}>  \n    </div>\n    <div>\n      <button type=\"submit\">Submit request</button>\n    </div>\n  </body>\n</html>",
        "output": "str",
        "x": 506,
        "y": 114,
        "wires": [
            [
                "74a181d6.986d5"
            ]
        ]
    },
    {
        "id": "9f297d87.b5cfd",
        "type": "comment",
        "z": "b228132b.65506",
        "name": "API Access Request Flow",
        "info": "",
        "x": 157,
        "y": 41,
        "wires": []
    },
    {
        "id": "4fbd10d8.869cf",
        "type": "link in",
        "z": "b228132b.65506",
        "name": "",
        "links": [
            "c9a9af24.724e8",
            "9916ffc0.53d91",
            "5518b93f.47cb58"
        ],
        "x": 284,
        "y": 608,
        "wires": [
            [
                "51e0cfb5.9bd46",
                "5173bb50.9dbf34"
            ]
        ]
    },
    {
        "id": "9916ffc0.53d91",
        "type": "link out",
        "z": "b228132b.65506",
        "name": "AccessToken",
        "links": [
            "4fbd10d8.869cf"
        ],
        "x": 1306,
        "y": 308,
        "wires": []
    },
    {
        "id": "5fc7246c.b468cc",
        "type": "file",
        "z": "b228132b.65506",
        "name": "",
        "filename": "data/token.log",
        "appendNewline": false,
        "createDir": false,
        "overwriteFile": "true",
        "x": 1094,
        "y": 342,
        "wires": [
            []
        ]
    },
    {
        "id": "b59fd8e6.e720b8",
        "type": "file",
        "z": "b228132b.65506",
        "name": "",
        "filename": "data/apiKey.log",
        "appendNewline": false,
        "createDir": false,
        "overwriteFile": "true",
        "x": 515,
        "y": 147,
        "wires": [
            []
        ]
    },
    {
        "id": "c3167cd.c7ab18",
        "type": "change",
        "z": "b228132b.65506",
        "name": "Display honeywellConsumerSecert",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "honeywellConsumerSecert",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 368,
        "y": 1146,
        "wires": [
            [
                "fab53e86.3d05b"
            ]
        ]
    },
    {
        "id": "fab53e86.3d05b",
        "type": "debug",
        "z": "b228132b.65506",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 619,
        "y": 1146,
        "wires": []
    },
    {
        "id": "5173bb50.9dbf34",
        "type": "function",
        "z": "b228132b.65506",
        "name": "Define Globals / executeLyricTstatCMD",
        "func": "\ncontext.global.executeLyricTstatCMD = function (lyricName,command,Param) {\n    var WinkCMDmsg = {};\n    if (1){ \n        var cmd = command.toLowerCase();\n        var xParam = (typeof Param === 'string' ? Param.toLowerCase() : Param);\n        node.warn(lyricName+' '+cmd+' '+xParam);\n        \n        try {\n            if (1)\n            {\n                //node.warn(\"context.global.thermostats\");\n\n                if (cmd != \"fan\"){\n                WinkCMDmsg ={\n                        \"url\":\"https://api.honeywell.com/v2/devices/thermostats/\"+context.global.LyricState[lyricName].device_id+\"?apikey=\"+global.get(\"honeywellAPIKey\")+\"&locationId=\"+global.get(\"honeywellLyricLocationID\"),\n                    \"method\": \"POST\",\n                    headers: {\n                        \"Authorization\":\"Bearer \"+global.get(\"honeywellLyricAccessToken\")\n                    },\n                    //payload set in switch statement below\n                };\n                }\n                switch (cmd){\n                    case 'mode':\n                        if (devCapbs[context.global.searchArray(devCapbs,'mode','field')]!=-1 ){\n                            WinkCMDmsg.payload={\n                                \"mode\":xParam ,\n                                \"coolSetpoint\": context.global.LyricState[lyricName].cool_set_point,\n                                \"heatSetpoint\": context.global.LyricState[lyricName].heat_set_point,\n                                \"thermostatSetpointStatus\": \"TemporaryHold\"\n                            };\n                        } else WinkCmd={};\n                    break;\n                    case 'temperature':\n                        WinkCMDmsg.payload={\n                            \"mode\":context.global.LyricState[lyricName].last_reading.mode,\n                            \"coolSetpoint\": xParam,\n                            \"heatSetpoint\": xParam,//context.global.winkState.thermostats[lyricName].heat_set_point,\n                            \"thermostatSetpointStatus\": \"TemporaryHold\"\n                        };\n                    break;\n                    case 'adjust':\n                        WinkCMDmsg.payload={\n                            \"mode\":context.global.LyricState[lyricName].last_reading.mode,\n                            \"coolSetpoint\": (context.global.LyricState[lyricName].cool_set_point +xParam),\n                            \"heatSetpoint\": (context.global.LyricState[lyricName].heat_set_point +xParam),\n                            \"thermostatSetpointStatus\": \"TemporaryHold\"\n                        };\n                    break;\n                    case 'fan':\n                        WinkCMDmsg ={\n                            \"url\":\"https://api.honeywell.com/v2/devices/thermostats/\"+context.global.honeywellLyricDeviceID+\"/fan?apikey=\"+context.global.honeywellAPIKey+\"&locationId=\"+context.global.honeywellLyricLocationID,\n                            \"method\": \"POST\",\n                            headers: {\n                                \"Authorization\":\"Bearer \"+context.global.honeywellLyricAccessToken\n                            },    \n                            payload:{\n                                \"mode\":xParam                            \n                            }};                          \n                    break;                     \n                    default:\n                    WinkCMDmsg={};    \n                }\n            }\n        }\n        catch (error){\n                node.warn('execute tStat CMD error: '+ error.message);\n        }        \n    }\n    //node.warn(WinkCMDmsg);\n    return WinkCMDmsg;\n}",
        "outputs": 1,
        "noerr": 0,
        "x": 490,
        "y": 608,
        "wires": [
            []
        ]
    },
    {
        "id": "dd182ced.e0e17",
        "type": "inject",
        "z": "b228132b.65506",
        "name": "",
        "repeat": "",
        "crontab": "",
        "once": true,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140.99996948242188,
        "y": 459,
        "wires": [
            [
                "583f59a9.50d0b8",
                "2cfb4782.191038"
            ]
        ]
    },
    {
        "id": "583f59a9.50d0b8",
        "type": "file in",
        "z": "b228132b.65506",
        "name": "",
        "filename": "data/token.log",
        "format": "lines",
        "chunk": false,
        "sendError": true,
        "x": 343.9999694824219,
        "y": 459,
        "wires": [
            [
                "60c3dcdc.f81274"
            ]
        ]
    },
    {
        "id": "8274580f.246b38",
        "type": "debug",
        "z": "b228132b.65506",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "payload",
        "x": 693.9999694824219,
        "y": 425,
        "wires": []
    },
    {
        "id": "8c9be8ae.146c28",
        "type": "change",
        "z": "b228132b.65506",
        "name": "Set honeywellLyricRefreshToken",
        "rules": [
            {
                "t": "set",
                "p": "honeywellLyricRefreshToken",
                "pt": "global",
                "to": "payload.refresh_token",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "honeywellLyricAccessToken",
                "pt": "global",
                "to": "payload.access_token",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 752.9999694824219,
        "y": 459,
        "wires": [
            []
        ]
    },
    {
        "id": "60c3dcdc.f81274",
        "type": "json",
        "z": "b228132b.65506",
        "name": "",
        "pretty": "false",
        "x": 525.9999694824219,
        "y": 459,
        "wires": [
            [
                "8c9be8ae.146c28",
                "8274580f.246b38"
            ]
        ]
    },
    {
        "id": "2cfb4782.191038",
        "type": "file in",
        "z": "b228132b.65506",
        "name": "",
        "filename": "data/apiKey.log",
        "format": "lines",
        "chunk": false,
        "x": 343.9999694824219,
        "y": 493,
        "wires": [
            [
                "631607cd.f840d8"
            ]
        ]
    },
    {
        "id": "a940a9cb.46e858",
        "type": "change",
        "z": "b228132b.65506",
        "name": "Set honeywellAPIKey",
        "rules": [
            {
                "t": "set",
                "p": "honeywellAPIKey",
                "pt": "global",
                "to": "payload.client_id",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "honeywellConsumerSecert",
                "pt": "global",
                "to": "payload.consumer_sercet",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "redirectURI",
                "pt": "msg",
                "to": "payload.redirect_uri",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 722.9999694824219,
        "y": 493,
        "wires": [
            [
                "5518b93f.47cb58"
            ]
        ]
    },
    {
        "id": "631607cd.f840d8",
        "type": "json",
        "z": "b228132b.65506",
        "name": "",
        "pretty": "false",
        "x": 525.9999694824219,
        "y": 493,
        "wires": [
            [
                "a940a9cb.46e858",
                "d29d13c9.54cf4"
            ]
        ]
    },
    {
        "id": "5518b93f.47cb58",
        "type": "link out",
        "z": "b228132b.65506",
        "name": "FileRead",
        "links": [
            "7e34de75.36545",
            "4fbd10d8.869cf"
        ],
        "x": 863.9999694824219,
        "y": 493,
        "wires": []
    },
    {
        "id": "d29d13c9.54cf4",
        "type": "debug",
        "z": "b228132b.65506",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "payload",
        "x": 692.9999694824219,
        "y": 527,
        "wires": []
    },
    {
        "id": "17dbcf21.a47071",
        "type": "comment",
        "z": "b228132b.65506",
        "name": "Retrieve Tokens at start up",
        "info": "",
        "x": 157.99996948242188,
        "y": 415,
        "wires": []
    },
    {
        "id": "f25a846e.4619b8",
        "type": "debug",
        "z": "b228132b.65506",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 1187,
        "y": 795,
        "wires": []
    },
    {
        "id": "2bc2d99d.5bfd76",
        "type": "debug",
        "z": "b228132b.65506",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 1029,
        "y": 654,
        "wires": []
    },
    {
        "id": "57093d1d.cb0f14",
        "type": "change",
        "z": "b228132b.65506",
        "name": "Display honeywellLyricAccessToken",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "honeywellLyricAccessToken",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 378,
        "y": 1180,
        "wires": [
            [
                "e73f6d38.02301"
            ]
        ]
    },
    {
        "id": "e73f6d38.02301",
        "type": "debug",
        "z": "b228132b.65506",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 619,
        "y": 1180,
        "wires": []
    },
    {
        "id": "90d6dc42.30d1b",
        "type": "function",
        "z": "b228132b.65506",
        "name": "\"GET\" Devices",
        "func": "LyricCMDmsg ={\n    \"url\":\"https://api.honeywell.com/v2/devices/thermostats?apikey=\"+global.get(\"honeywellAPIKey\")+\"&locationId=\"+global.get(\"honeywellLyricLocationID\"),\n    \"method\": \"GET\",\n    headers:\n    {\n        \"Authorization\":\"Bearer \"+global.get(\"honeywellLyricAccessToken\")\n    }\n};\n    \nreturn LyricCMDmsg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 691,
        "y": 745,
        "wires": [
            [
                "bf9755e0.233868"
            ]
        ]
    },
    {
        "id": "fc4c9b17.4dd6c8",
        "type": "comment",
        "z": "b228132b.65506",
        "name": "Example for gobal object created from returned JSON data",
        "info": "",
        "x": 1109,
        "y": 833,
        "wires": []
    }
]
